
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <center>
        <h1>Prudent Image Resizer</h1>
        <h2>Upload an Image</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Choose an image to upload:</p>
            <input type="file" id="image" name="image" accept="image/*" required>
            <br><br>
            <button type="submit">Upload Image to Resize</button>
        </form>

        <br><br>
        <a href="{% url 'logout' %}">Logout</a>
    </center>
    
</body>
</html>
